#include <windows.h>
#include "Resource.h"

MY_BITMAP BITMAP python.bmp

DATAENTRY DIALOG DISCARDABLE 0,0,300,150
STYLE DS_MODALFRAME|DS_CENTER|WS_CAPTION
CAPTION"DATAENTRY"

BEGIN
      LTEXT "Name:            ", -1,35,10,30,10
   	  EDITTEXT ID_EDITNAME, 70,10,150,10,WS_TABSTOP
	  LTEXT "Address:         ",-1,27,30,50,10
	  EDITTEXT ID_EDITADDRESS,70,30,150,10,WS_TABSTOP
	  AUTORADIOBUTTON "Married",ID_RBMARRIED,70,90,50,10,WS_TABSTOP,WS_GROUP
	  AUTORADIOBUTTON "UnMarried", ID_RBUNMARRIED, 120, 90, 65, 10, WS_TABSTOP, WS_GROUP
	  PUSHBUTTON "OK",ID_OK,140,115,25,10
	  PUSHBUTTON "Cancel",ID_CANCEL,230,115,30,10
END
